/* import */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
/* general stylings */
html {
  overflow-x: hidden;
}

body {
  font-family: Karla, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: hsl(148, 38%, 91%);
}

/* utils */
.hidden {
  display: none;
}

.span-2 {
  grid-column: span 2;
}

.flex {
  display: flex;
  gap: 15px;
  align-items: center;
}

.no-block {
  display: inline !important;
}

/* form */
.form {
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  margin-inline: auto;
  margin-block: 150px;
  border-radius: 15px;
  padding: 40px 30px;
}
.form button[type=submit] {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(169, 82%, 27%);
  border: none;
}
.form button[type=submit]:hover {
  cursor: pointer;
}
.form input:not([type=checkbox], [type=radio]) {
  width: 100%;
}
.form input {
  border: 1px solid hsl(169, 82%, 27%);
  border-radius: 5px;
  padding: 15px 10px;
  font-size: 14px;
}
.form h1 {
  margin: 0;
  font-weight: 700;
  margin-bottom: 30px;
}
.form__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 30px;
}
.form__formRow label.required {
  display: block;
  margin-bottom: 10px;
  font-size: 0.96rem;
}
.form__formRow label.required::after {
  content: "*";
  color: hsl(169, 82%, 27%);
  width: 50px;
  height: 50px;
  margin-left: 4px;
}
.form__formRow label.required:hover:not(.no-hover) {
  cursor: pointer;
}
.form__formRow-radioBox {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  border: 1px solid hsl(169, 82%, 27%);
  padding: 15px 10px;
  border-radius: 5px;
}
.form__formRow-radioBox:hover {
  cursor: pointer;
}
.form__formRow-radioBox label.radio {
  background-image: url(assets/images/icon-radio.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.form__formRow-radioBox label.radio.active {
  background-image: url(assets/images/icon-radio-selected.svg);
}
.form__formRow-radioBox label:hover {
  cursor: pointer;
}
.form__formRow-consent {
  display: flex;
  align-items: center;
  gap: 20px;
}
.form__formRow-consent .checkbox {
  width: 17px;
  aspect-ratio: 1/1;
  background-image: url(assets/images/icon-checkbox-uncheck.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.form__formRow-consent .checkbox.active {
  background-image: url(assets/images/icon-checkbox-check.svg);
}
.form__formRow-consent label.required {
  margin: 0;
}

.successful {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(187, 24%, 22%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  padding: 25px 40px;
  transition: 0.5s ease-in-out;
}
.successful.active {
  top: 50px;
}
.successful h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.successful p {
  font-weight: 400;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */